/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    background-color: #FFFFFF;
}
section{
    padding: 4% 0;
}
p{
    margin: 3%;
}
h1{
    font-size: 2rem;
}
header{
    background-color: #FF686B;
    /* background-image: linear-gradident(to right, #FF686B, #FFA69E); */
    padding: 3%;
}
.primary{
    display: flex;
    justify-content: space-evenly;

}
button{
    background-color: #84DCC6;
    border: none;
    border-radius: 25px;
    padding: 15px 20px;
    transition-duration: 0.5s;
}
button:hover{
    background-color: #A23436;
    color: whitesmoke;
}
a{
    text-decoration: none;
    color: #84DCC6;
}
a:hover{
    color:#A5FFD6;
}
.about{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
}
.about1{
display: flex;
width: 75%;
justify-content: center;
}
.info{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: baseline;
}
.about2{
display: flex;
align-items: flex-start;
justify-items: space-evenly;
width: 18%;
}
.about3{
display: flex;
align-items: flex-start;
justify-content: center;
font-size: 1.8rem;
}
.about4{
display: flex;
align-items: center;
font-size: 1.5rem;
}
.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
footer{
    background-color: #FF686B;
    display: flex;
    justify-content: center;
    padding: 3%;
    flex-direction: column;
    

}
.contact{
    align-self: center;
    align-items: flex-end;
}
.contact-link{
    font-size: 1.3rem;
}
#end{
    padding: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}